<h1>Edit project</h1>

<%= form_for :project, url: project_path(@project), method: :put do |f| %>
	<p>
		<%= f.label :name %><br/>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>